<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.park_a_lot">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParkALot">
        <activity
            android:name=".NavBar"
            android:exported="false"
            android:label="@string/title_activity_nav_bar"
            android:theme="@style/Theme.ParkALot.NoActionBar" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".MobileRegistration"
            android:exported="false" />
        <activity
            android:name=".dummy"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>